@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@font-face {
    font-family: 'EpundaSlab';
    src: url('../fonts/EpundaSlab-VariableFont_wght.ttf') format('trueType');
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: 'Benguiat';
    src: url('../fonts/ITCBenguiatStdMediumCn.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}